@font-face {
  font-family: "Libre Barcode 39 Text";
  src: url("/fonts/LibreBarcode39Text-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Libre Barcode 39 Text";
  src: url("/fonts/LibreBarcode39Text-Regular.ttf") format("truetype");
}


.the-spider-web-that-andy-made {
  width: 33%; 
  height: auto;
}

.blog-heading{
  font-family: "Libre Barcode 39 Text";
}
.blog-text{
  font-family: "Libre Barcode 39 Text"
}
.back-t0-h0m3 a:hover {
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
  	      0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}
