//@font-face {
//  font-family: "Libre Barcode 39 Text";
//  src: url("/fonts/LibreBarcode39Text-Regular.ttf") format("truetype");
//}

//@font-face {
//  font-family: "Libre Barcode 39 Text";
//  src: url("/fonts/LibreBarcode39Text-Regular.ttf") format("truetype");
//}

           
.the-spider-web-that-andy-made {
  width: 33%; 
  height: auto;
}

.blog-heading{
  font-family: "Libre Barcode 39 Text";
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
}
#blog-text{
  font-family: "Libre Barcode 39 Text";
  position: absolute
}
.back-t0-h0m3 a:hover {
  background: #716415;
  border-radius: 100px;
  box-shadow: 0 0 50px yellow,
  	      0 0 125px yellow,
              0 0 150px yellow,
              0 0 200px yellow;
  color: red;
}
.back-t0-h0m3 {
	z-index: 100;
	color: #181817;
	position: absolute;
	margin-top: 23%;
} 
#mousetrap-1{
position: absolute;
margin-top: -132px;
margin-left: 12px;
z-index: 10;
}
#mousetrap-2{
position: absolute;
margin-left: 90%;
z-index: 10;
}
#mousetrap-3{
position: absolute;
margin-top: 23%;
margin-left: 17%;
z-index: 10;
}
#mousetrap-4{
position: absolute;
margin-top: -1%;
margin-left: 27%;
z-index: 10;
}
#mousetrap-5{
position: absolute;
margin-top: 13px;
margin-left: 0px;
z-index: 10;
}
 
