@font-face {
  font-family:"Libre Barcode 39 Text";
  src:url("/fonts/Libre_Barcode_39_Text.ttf") format("truetype");
}

.the-spider-web-that-andy-made {
  width: 33%; 
  height: auto;
}

.blog-heading{
  font-family:"Libre Barcode 39 Text";
}

